[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
grpcio = "*"
protobuf = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
google = "*"
asyncio = "*"
python-keycloak = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
argon2 = "*"
cryptography = "*"

[requires]
python_version = "3.7"
